* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
h1 {
    font-size: 22px;
    margin: 5px 0px;
    text-transform: uppercase;
}
h2 {
    font-size: 16px;
    margin: 5px 5px;
}
p,
label,
select,
option,
fieldset {
    font-size: 12px;
}
li {
    font-size: 14px;
}
#schedule {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 400px;
    margin: 0 auto;
}
#refreshButton {
    position: fixed;
    top: 30%;
    right: 47%;
    padding: 5px 8px;
    background-color: #dadada;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
}
#refreshButton:hover {
    background-color: #ff0000; /* Adjust hover background color as needed */
}
fieldset > div {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}
fieldset > div > div {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}
