* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    box-sizing: border-box;
}

body {
    background-color: #1b1b1b;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100dvh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.5rem;
}

#loading-overlay {
    display: none;
}

#loading-overlay>img {
    width: 50px;
    height: 50px;
}

fieldset > legend,
fieldset > label {
    line-height: 36px;
}

fieldset > label {
    line-height: 36px;
    background-color: #464646;
    color: #aaaaaa;
    padding: 6px 8px;
    border-radius: 5px;
    margin: 0 5px;
}

#departure-fieldset,
#arrival-fieldset {
    width: 150px;
}

fieldset > label > input {
    display: none;
}

#schedule-form > label {
    display: block;
}

#schedule-form > select {
    height: 30px;
    border-radius: 5px;
}

#schedule-form,
#schedule-form > label {
    margin-top: 20px;
    margin-bottom: 25px;
}

#departureHeader,
#arrivalHeader {
    color: rgb(194, 194, 194);
}

.checked {
    color: #555;
    background-color: #dbdbdb;
    padding: 6px 8px;
    border-radius: 5px;
}

fieldset > label:hover {
    color: #555;
    padding: 6px 8px;
    border-radius: 5px;
    cursor: pointer;
}

#combined-schedule {
    margin-top: 20px;
    margin-bottom: 20px;
}
#combined-schedule > div {
    display: flex;
    justify-content: center;
}
#combined-schedule > div > div {
    width: 100px;
}

#schedule-form fieldset {
    border: none;
    color: white;
}
.departure-arrival {
    display: flex;
    justify-content: center;
}

#departure-fieldset {
    border: none;
    color: beige;
    margin: 0 10px 20px;
}

#arrival-fieldset {
    border: none;
    color: bisque;
    margin: 0 10px 20px;
}

button[type="submit"] {
    border-radius: 6px;
    color: black;
    background-color: rgb(235, 44, 44);
    text-transform: uppercase;
    font-weight: bold;
    padding: 6px;
    font-size: 18px;
    outline: none;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    color: rgb(42, 42, 42);
}

a.buy-ticket {
    color: rgb(120, 0, 0);
    text-decoration: none;
    line-height: 28px;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 5px 8px;
    letter-spacing: 1px;
}

a.quick-pick {
    color: rgb(228, 228, 228);
    text-decoration: none;
    line-height: 20px;
    background-color: rgb(0, 67, 105);
    border-radius: 5px;
    padding: 5px 8px;
    text-transform: none;
    margin: 0 5px;
    display: inline-block;
}

.table-container {
    color: aliceblue;
    margin: 0 auto 25px;
}

table#scheduleTable th {
    width: 120px;
}

table#scheduleTable thead {
    height: 50px;
}

.footer {
    margin-top: auto;
    text-transform: uppercase;
    font-weight: bold;
}

.footer p {
    margin-bottom: 15px;
}

.footer-routes {
    display: flex;
    justify-content: center;
    margin: 0 15px;
}

.footer-info {
    color: aliceblue;
    text-transform: none;
    font-weight: normal;
    margin: 0 10px;
    font-size: 16px;
}

.filter {
    margin-bottom: 20px;
    color: white;
}

.filter label {
    margin: 0 4px;
    background-color: rgb(116, 116, 116);
    border-radius: 5px;
    padding: 4px 5px 4px 6px;
}

.filter input {
    display: none;
}

.past-time{
    color: #ffffff39;
}

.br-display {
    display: none;
}

.footer p.footer-route-number {
    font-size: 16px;
    color: #dddddd;
    margin-bottom: 1px;
}

.footer p.footer-route-number a {
    color: #9a9a9a;
    text-decoration: none;
    text-transform: none;
    padding: 1px 2px;
    border-radius: 2px;
    background-color: #3e3e3e;
}

.footer p.footer-route-number a:hover {
    color: #c4c4c4;
}

.logo-home-button {
    color: rgb(197, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    margin-top: 10px !important;
    display: block;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: #ff0000 0px 0px 13px 2px;
}

.logo-home-button:hover,
.logo-home-button:active,
.logo-home-button:focus,
.logo-home-button:visited,
.logo-home-button:focus-within
.logo-home-button:focus-visible {
    cursor: pointer;
    opacity: 0.8;
    outline: none;
}

@media screen and (max-width: 450px) {
    .br-display {
        display: block;
    }
    .footer-routes {
        flex-direction: column;
    }
}
