* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 16px;

}
p,
label,
select,
option {
    font-size: 12px;
}
li {
    font-size: 14px;
}
#schedule {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 400px;
    margin: 0 auto;
}
#refreshButton {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    background-color: #dadada;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
#refreshButton:hover {
    background-color: #ff0000; /* Adjust hover background color as needed */
}
