* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    box-sizing: border-box;
}
body {
    background-image: url(/assets/img/burkesbus.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100dvh;
    position: relative;
    display: flex;
    flex-direction: column;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.logo {
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    margin-top: 5px;
}
.logo:hover,
.logo:active,
.logo:focus,
.logo:visited,
.logo:focus-within
.logo:focus-visible {
    cursor: pointer;
    opacity: 0.8;
    outline: none;
}

fieldset > legend,
fieldset > label {
    line-height: 36px;
}

fieldset > label > input {
    display: none;
}

#schedule-form > label {
    display: block;
}

#schedule-form > select {
    height: 30px;
    border-radius: 5px;
}

#schedule-form,
#schedule-form > label {
    margin-top: 20px;
}

#departureHeader,
#arrivalHeader {
    color: rgb(194, 194, 194);
}

.checked {
    color: #555;
    background-color: #dbdbdb;
    padding: 6px 8px;
    border-radius: 5px;
}

#combined-schedule {
    margin-top: 20px;
    margin-bottom: 20px;
}
#combined-schedule > div {
    display: flex;
    justify-content: center;
}
#combined-schedule > div > div {
    width: 100px;
}
